.counter-container {
  text-align: center;
  margin-top: 50px;
}

.counter-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.counter-button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-button:hover {
  background-color: #ccc;
}

.reset-button {
  background-color: #f44336;
  color: #fff;
}

.reset-button:hover {
  background-color: #e53935;
}