body {
  margin: 0;
  padding: 0;
}

.mapboxgl-map {
  width: 100%;
  height: 500px;
}

.search-container {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}